* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-container {
    width: 85%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 5px 27px -1px rgba(0,0,0,0.2);
}

.join-section {
    background-color: white;
    padding: 30px;
}

.join-section h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.3rem;
}

.join-section h2 {
    color: hsl(71, 73%, 54%);
    font-size: 1rem;
    margin-top: 20px;
}

.join-section p {
    color: hsl(218, 22%, 67%);
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 15px;
}

.green {
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
    color: white;
}

.green h2 {
    font-size: 1.2rem;
}

.price {
    display: flex;
    align-items: center;
}

.price {
    margin-top: 15px;
}

.price-number {
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 10px;
}

.price-text {
    font-size: 0.9rem;
    opacity: .5;
}

.access {
    margin-top: 10px;
}

.sign-up {
    width: 100%;
    margin-top: 30px;
    background-color:hsl(71, 73%, 54%);
    border: none;
    color: white;
    padding: 15px 0;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.2);
}

.why-section {
    opacity: 0.8;
}

.why-section ul {
    margin-top: 20px;
}

.why-section li {
    font-size: 0.9rem;
    opacity: .6;
    line-height: 23px;
}

@media screen and (min-width: 670px) {
    .component-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .green {
        flex-basis: 50%;
    }
}